*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.prof{
  background: #161623;

min-height: 100vh;
}

.profile .display{
  position: relative;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  padding: 3rem;
  min-width: 400px;
  min-height: 400px;
  margin-top: 3rem;
}


.display h6{
    color: aqua;

}

.prof-picture{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
  }
  .profile-img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  