@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Petemoss&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.prof{
  background:rgb(233, 231, 231);
  color: black;

min-height: 100vh;
}

.profile .display{
  position: relative;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  padding: 3rem;
  min-width: 400px;
  min-height: 400px;
  margin-top: 3rem;
}


.display h6{
    color: aqua;

}

.prof-picture{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
  }
  .profile-img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
  }
 .post-img{
   height: 300px;
   width:100%;
   object-fit: cover;
   border-radius: 4px;
 }
 .landing{
  background-repeat: no-repeat; 
  background-image: url("./williams.jpeg");
  height: 80vh;
  width: 100%;
  background-size:cover ;
  background-position: center

  } 
.landing h1{
font-family: 'Pacifico', cursive;
color:green;
text-align: center;
padding-top:8rem;
font-weight: 200;
font-size:70px;
}
.navigation{
background-color:#ddb892;

}
.links{
  font-weight:bold;
  color:black ;


}
.links:hover{
color: white;  

}

.logo{
  font: bold;
  font-family: 'Pacifico', cursive;
  color:green;

}
.logo:hover{
  color: white;
}

.photos {
  padding: 10px 15px;
  border: none;
  background-color:#ddb892;
  color:black;
  border-radius: 5px;
}
.photos:hover{
  text-decoration: none;
  color:white;
  margin-top: 7rem;
}
.button a{
  margin-bottom: 1rem;

}
.hood{
  background:rgb(233, 231, 231);

}

.footer{
  background-color:#ddb892;
  padding-top:1.5rem ;
  text-align:center;
  padding-bottom:1rem;
}
.footer p:hover{
  color: white;

}
.invite{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:8rem;
}
.submit{
  padding:10px 15px;
  background:white;
  color: black;
  border-radius:3px;

}
.submit:hover{
  text-decoration:none;
  color: black;
  background: #ddb892;
}
.search{
  background:rgb(233, 231, 231);
  min-height: 100vh;
  
}


  