{%extends 'registration/base.html'%}
{% load bootstrap4 %}
{% load static%}
{% block content%}
<div class="container">
    <div class="row">
   
        <div class="">
            <div class="prof-body">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %} 
                    {% bootstrap_form post_form%}
                    <div class="form-group text-center">
                        <input type="submit" class="m-4 btn btn-primary login-btn" value="CREATE HOOD">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}