{%extends 'registration/base.html'%}
{% load bootstrap4 %}
{% load static%}
{% block content%}
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="mt-5">
            <h1 class="heading-profile">"THE WAY I SEE IT , IF YOU WANT THE RAINBOW<br>YOU GOTTA PUT UP WITH THE RAIN </h1>
            <p class="profile-text">First, let's update your profile</p>
        </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="prof-body">
                <form action="{% url 'create_profile'%}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form form%}
                    <div class="form-group text-center">
                        <input type="submit" class="m-4 btn btn-primary login-btn" value="CREATE PROFILE">
                    </div>
                    <input type="hidden" name="next" value="{{next}}">
                </form>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}